/* nice gray: #2F4F4F */

#headerBar{
	position:fixed;
	top:0; left:0; right:0;
	background:linear-gradient(90deg,rgba(32,178, 170, 0.95),rgba(0, 128, 128,0.95));
	border-bottom:5px solid white;
	height:80px;
	z-index:999;
}

	#headerContents{
		margin:auto; margin-top:0; margin-bottom:0; padding:0; width:100%; max-width:1400px;
	}

	#headerContents a{
		color:white;
       		display:flex; align-items:center;
		height:80px;
		font-size:22px; padding:15px;
		text-decoration:none;
		font-family: 'Trebuchet MS', sans-serif;
		float:right;
		background:none;
		transition:0.5s;
	}
	#headerContents a:hover{color:teal; background:white;}

#headerSpacer{
	z-index:998;
	position:absolute; top:0; left:0; right:0;
	height:80px;
	background:#efefef;
}

#headerLogo {
	margin:15px;
	height:50px; width:auto;
	transition:0.5s; cursor:pointer;
}
#headerLogo:hover {scale:1.02;}

#headerMiniMenu{
	position:absolute; top:80px; right:0;
	width:80%; max-width:500px;
	padding:20px;
	background:#2F4F4F; color:white;
	text-align:right;
	display:none;
	animation: fadeIn 0.5s;
}

/* FOOTER ELEMENTS */
	#footer {margin:0; margin-top:40px; width:100%; 
		 background:linear-gradient(90deg, lightseagreen, teal);
		 color:white;
		 padding:0;
		}

	#footer .spacer {background:#efefef;}
	
	#footer .footerLinks{
		width:100%; margin:0;
		padding:0px; max-width:1400px;
	
		display:flex; flex-flow:row;
		justify-content:center; align-items:flex-start;
	}
	#footer .footerLinks div{
		width:25%;
		min-width:200px; margin:0; padding:10px;
		text-align:left;
		align-self:stretch;
	}

	#footer .footerLinks div h4{margin:5px;}
	
	#footer .footerLinks div a{
		display:block; margin:5px;
		text-decoration:none;
	}
	#footer .footerLinks div a:hover{
		color:#efefef;
		text-decoration:underline;
	}
	
	@media screen and (max-width:900px){
		#footer .footerLinks {flex-wrap:wrap;}
		#footer .footerLinks div{ text-align:center; width:100%;}
	}







/* LOADING UI */
#loader{position:fixed;top:0;bottom:0;left:0;right:0;z-index:998; transition:0.5s;
       	background: linear-gradient(-45deg, cyan, seagreen);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
       }
#loader div{
        	border:16px solid white;
	        border-top:16px solid coral;
	        border-bottom: 16px solid coral;
	        border-radius:50%;
	        width:120px; height:120px;
	        animation: spin 2s linear infinite;
	        margin:auto;margin-top:200px;
}
	@keyframes spin{
        	0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg); }
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

